/* CONTAINERS */
body {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-wrap: break-word;
}
@media screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }
}
/* CONTAINERS */
