/* MAIN */
main {
  grid-area: main;
}

main ul {
  list-style-type: ;
  padding-left: 18px;
}

main ol {
  list-style-type: decimal;
  padding-left: 18px;
}

main ul li a {
  text-decoration: none;
}

main ul li::marker {
  content: '∗\00A0';
  color: var(--text-muted);
}

main .post-meta {
  color: var(--text-muted);
  font-style: italic;
  margin-top: 0;
}

/* MAIN */
