/* MAIN */
main article {
  padding-bottom: 0.5rem;
}

main article ul {
  margin-left: 1rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

main article ul li::marker {
  content: "❊ ";
  color: var(--text-muted);
}

main article ul li a {
  text-decoration: none;
}

main article h2 {
  margin-top: 0.5rem;
}

main article ol {
  list-style-type: decimal;
  margin-left: 1rem;
  padding-left: 0.5rem;
}

main article .post-header .post-content {
  font-size: inherit;
}

main article .post-meta {
  color: var(--text-muted);
  font-style: italic;
  margin-top: 0;
}

main article .post-prev-next {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main article .post-prev-next > .post-prev {
  align-content: flex-start;
  & a {
    text-decoration: none;
  }
}

main article .post-prev-next > .post-next {
  align-content: flex-end;
  & a {
    text-decoration: none;
  }
}

.previous::before {
  content: "↞ ";
  color: var(--text-muted);
}

.next::after {
  content: " ↠";
  color: var(--text-muted);
}

/* MAIN */
